[Desktop Entry]
Name=Zyneon App
Exec=java -jar /usr/bin/zyneon/application/updater.jar
Icon=/usr/bin/zyneon/application/icon.png
Type=Application
Categories=Game;
