Package: zyneon-application
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: Zyneon Studios <daniel.niesmann@outlook.com>
Depends: openjdk-21-jdk | openjdk-21-jre | jdk-21 | jre-21 | temurin-21