:root {
    --background: #171717;
    --background1: var(--background);
    --background2: #202020;
    --background3: #2c2c2c;
    --background4: #0d0d0d;
    --background5: #000000;
    --background6: #00000090;

    --border: #303030;
    --border1: var(--border);
    --border2: #4a4a4a;

    --shadow: #ffffff99;
    --shadow1: var(--shadow);
    --shadow2: #00000050;
    --shadow3: #000000;
    --shadow4: #ffffff99;

    --foreground: #e3e3e3;
    --foreground1: var(--foreground);
    --foreground2: #ffffff99;

    --highlight: #ffffff;
    --accent: #8732ec;
}

body {
    background: var(--background);
    transition: background ease 0ms !important;
}