:root {
    --background: #aaaaaa;
    --background1: var(--background);
    --background2: #cccccc;
    --background3: #dddddd;
    --background4: #eeeeee;
    --background5: #ffffff;
    --background6: #ffffff75;

    --border: #ffffff90;
    --border1: var(--border);
    --border2: #ffffff;

    --shadow: #00000099;
    --shadow1: var(--shadow);
    --shadow2: #ffffff99;
    --shadow3: #00000050;
    --shadow4: #ffffff99;

    --foreground: #171717;
    --foreground1: var(--foreground);
    --foreground2: #00000099;

    --highlight: #000000;
    --accent: #8732ec;
}

body {
    background: var(--background);
    transition: background ease 0ms !important;
}